.main {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    width: auto;
    flex-direction: column;
    margin: 90px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
    font-size: 20px;
   margin-left: 50px;
}
